@using WebApplication1.Resources.Home

@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @Index.Title_Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">@Index.Welcome_Index</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">@Index.LearnMore_Index &raquo;</a></p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">@Index.FirstSectionTitle_Index</h2>
            <p>@Index.FirstSectionMessage_Index</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">@Index.LearnMore_Index &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">@Index.SecondSectionTitle_Index</h2>
            <p>@Index.SecondSectionMessage_Index</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">@Index.LearnMore_Index &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">@Index.ThirdSectionTitle_Index</h2>
            <p>@Index.ThirdSectionMessage_Index</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">@Index.LearnMore_Index &raquo;</a></p>
        </section>
    </div>
</main>
</html>