@model WebApplication1.Models.User

@using WebApplication1.Resources.User

@{
    ViewBag.Title = @Delete.Delete_Operation;
}

<h2>@Delete.Delete_Operation</h2>

<h3>@Delete.Confirmation</h3>
<h4>@Delete.User</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Surname)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Surname)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Age)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Age)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Address)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Address)
    </dd>

</dl>


<div class="form-actions no-color">
    <input type="button" value="Delete" class="btn btn-default" onclick="deleteUser(@Model.Id)" />
    @Html.ActionLink(@Delete.Back_to_List, "User")
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
    function deleteUser(id) {
        if (confirm('@Delete.Confirmation')) {
            $.ajax({
                url: `/User/DeleteUser/${id}`,
                type: 'DELETE',
                success: function(response) {
                    if (response.success) {
                        alert('@Delete.Successfull_Deletion');
                        window.location.href = '@Url.Action("User", "User")';
                    } else {
                        alert(`@Delete.Error_Occured ${response.message}`);
                    }
                },
                error: function(xhr, status, error) {
                    alert(`@Delete.Error_Occured ${error}`);
                }
            });
        }
    }
    </script>

}