@model IEnumerable<WebApplication1.Models.User>

@{
    ViewBag.Title = @WebApplication1.Resources.User.User.UserOperations_Title;
}

<h2> @WebApplication1.Resources.User.User.UserOperations_Title</h2>

<p>
    @Html.ActionLink(@WebApplication1.Resources.User.User.Add, "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.ActionLink(@WebApplication1.Resources.User.User.Edit, "Edit", item)
            </td>
            <td>
                @Html.ActionLink(@WebApplication1.Resources.User.User.Delete, "Delete", item)
            </td>
        </tr>
    }

</table>
<td>
</td>
